<phpunit bootstrap="replaceBootstrap">
    <testsuites>
        <testsuite name="All tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <include>
            <group>pipeline</group>
        </include>
    </groups>
    <php>
        <env name="clientSecret" value="replaceClientSecret" force="true" />
        <env name="clientId" value="replaceClientId" force="true" />
        <env name="apiBaseUrl" value="replaceApiBaseUrl" force="true" />
    </php>
</phpunit>
